.Expenses {
    width: 50%;
    border: solid 1px #1485CC;
    float: left;
    margin: 2% 0 0 3%;

}

.ExpenseText {
    color: #0971B2;
    margin-top: 2%;
    text-align: center;
    font-size: 30px;
    font-family: 'Encode Sans Condensed', sans-serif;

}

.TransactionsTitle {
    margin: -3% 0 0 2%;
    color: #0971B2;
    font-family: 'Encode Sans Condensed', sans-serif;

}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}





