.Expenses {
    width: 90%;
    border: solid 1px black;
    margin: 2% auto 0 auto;
}



.ExpenseText {
    color: #0971B2;
    margin-top: 2%;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Encode Sans Condensed', sans-serif;
}

.TransactionsTitle {
    margin: -3% 0 0 2%;
    color: #0971B2;
    font-family: 'Encode Sans Condensed', sans-serif;
}

.Transactions {
    font-family: 'Quicksand', sans-serif;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

