.Stocks {
    clear: both;
    width: 90%;
    text-align: center;
    border: solid 1px #330036;
    margin: 2% auto 1% auto;
}

.StocksTitle {
    margin-left: 3%;
    padding: 1%;
}

.StocksTable {
    margin: 0 auto 0 auto;
    width: 95%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    /* width: 100%; */
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}