.Scraper {
    clear: both;
    width: 90%;
    text-align: center;
    border: solid 1px #330036;
    margin: 2% auto 4% auto;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}

.ScraperTitle {
    margin-left: 3%;
    padding: 1%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}