.jumbotron {
    clear: both;
    text-align: center;
    background: url("../../bg.png");
}

.jumboText {
    padding: 2%;
    color: white;
    background-color: rgb(7, 7, 77);
    width: 38%;
    font-size: 50px;
    font-family: 'IM Fell English SC', serif;
    font-weight: bold;
    margin: 0 auto 0 auto;
    border-radius: 4px;
}

.jumboSmall {
    font-size: 24px;
    padding: 1%;
    color: rgb(7, 7, 77);
    background-color: white;
    display: inline-block;
    vertical-align: middle;
    border-bottom: solid 1px;
    margin: 0 auto 0 auto;
    border-radius: 4px;
    width: 28%;
    font-family: 'Playfair Display', serif;
}