.jumbotron {
    clear: both;
    text-align: center;
    background-color: rgb(1, 2, 71);
}

.jumboText {
    padding: 2%;
    color: white;
    font-size: 50px;
    font-family: 'IM Fell English SC', serif;
    font-weight: bold;
}

.jumboSmall {
    font-size: 24px;
    padding-bottom: 2%;
    color: white;
    font-family: 'Playfair Display', serif;
}