.Savings {
    clear: both;
    float: left;
    width: 33%;
    text-align: center;
    border: solid 1px #330036;
    margin: 2% 0 0 5%;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}

.SavingsTitle {
    margin-left: 3%;
    padding: 1%;
}


