.Assets {
    float: left;
    width: 54%;
    text-align: center;
    border: solid 1px #330036;
    margin: 2% 4% 2% 3%;
}

.AssetsTable {
    margin: 0 2% 0 2%;
}

.AssetsTitle {
    margin-left: 3%;
    padding: 1%;
}

.AssetsTable {
    margin: 0 2% 0 2%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}